.titlebar {
  display          : flex;
  width            : 100vw;
  margin-bottom    : 10px;
  color            : var(--font-color);
  background-color : var(--main-color);
  align-items      : center;
  font-family      : var(--heading-font);
  flex-direction   : row;
  justify-content  : space-between;
  grid-area        : a;
}

.titlebar h3 {
  margin-left : 10px;
  font-size   : 1.5em;
  font-weight : bold;
}

@media
  (max-width : 1080px) {
  .titlebar {
    margin-bottom : 0.1em;
  }
}

@media
  (max-width : 800px) {
  .titlebar h3 {
    font-size : 1.2em;
  }

  .getalerts {
    height    : 20px;
    font-size : 0.8em;
  }
}
