.weatherbar {
  display          : flex;
  max-width        : 33vw;
  max-height       : 100vh;
  padding-right    : 0px;
  border-radius    : 5px;
  background-color : white;
  text-align       : center;
  flex-direction   : column;
  grid-area        : b;
}

.weatherbar h1 {
  padding          : 10px;
  color            : var(--font-color);
  background-color : var(--main-color);
  font-weight      : bold;
}

.weatheritem {
  display         : flex;
  min-height      : 10vh;
  margin-top      : 0px;
  padding         : 10px;
  border          : 0.5px solid rgb(232, 232, 232);
  text-align      : center;
  align-items     : center;
  flex-direction  : column;
  flex-grow       : 1;
  justify-content : center;
}

@media
  (max-width : 1080px) {
  .weatherbar {
    max-width      : 100vw;
    margin-bottom  : 2px;
    flex-direction : row;
  }

  .weatherbar h1 {
    display : none;
  }

  .weatheritem {
    min-height     : 1vh;
    max-height     : 100%;
    font-size      : 0.9em;
    flex-direction : row;
  }
}

@media
  (max-width : 550px) {
  .weatherbar {
    font-size : 0.7em;
  }
}

@media
  (max-width : 450px) {
  .weatherbar {
    font-size : 0.6em;
  }
}
