@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');


:root {
  --main-color : rgb(0, 36, 168);
  --font-color : white;
  --button-red : rgb(203, 2, 2);
  --heading-font : 'Roboto', sans-serif;
  --sub-font : 'Lato'. sans-serif;
}

.App {
  display               : grid;
  height                : 95vh;
  margin                : 0px 0px 5px 0px;
  padding               : 0 0 0 0;
  overflow-x            : hidden;
  grid-gap              : 0px 10px;
  grid-template-columns : 20% 1fr 1fr 1fr;
  grid-template-rows    : 9% 30% 30% 30% .95fr;
  grid-template-areas   : "a a a a"
                          "b c c c"
                          "b c c c"
                          "b c c c"
                          "b c c c";
  font-family: var(--sub-font);
}

@media
  (max-width : 1080px) {
  .App {
    display               : grid;
    height                : 94vh;
    margin                : 0 0 0px 0;
    padding               : 0 0 0 0;
    grid-gap              : 0px 5px;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows    : 8% 6% 25% 25% 1fr;
    grid-template-areas   : "a a a"
                            "b b b"
                            "c c c"
                            "c c c"
                            "c c c"
  }
}
