.modal {
  box-sizing : border-box;
}

/* Full-width input fields */

input[type=tel],
input[type=text] {
  display    : inline-block;
  width      : 100%;
  margin     : 5px 0 5px 0;
  padding    : 15px;
  border     : none;
  background : #f1f1f1;
}

/* Add a background color when the inputs get focus */

input[type=tel]:focus,
input[type=text] {
  background-color : #ddd;
  outline          : none;
}

/* Set a style for all buttons */

.modal button {
  width            : 100%;
  margin           : 8px 0;
  padding          : 14px 20px;
  color            : white;
  opacity          : 0.9;
  border           : none;
  background-color : var(--main-color);
  cursor           : pointer;
}

.modal button:hover {
  filter : brightness(140%);
  cursor : pointer;
}

/* Extra styles for the cancel button */

button.cancel {
  padding          : 14px 20px;
  background-color : var(--button-red);
}

/* Float cancel and signup buttons and add an equal width */

.cancel,
.signupbtn {
  width : 50%;
  float : left;
}

/* Add padding to container elements */

.modal .container {
  padding : 16px;
}

/* The Modal (background) */

.modal {
  z-index          : 3 !important */;
  display          : block;
  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;
  padding-top      : 50px;
  overflow         : auto;
  background-color : #474e5d;
  /* Stay in place */
  /* Sit on top */
  /* Full width */
  /* Full height */
  /* Enable scroll if needed */
}

/* Modal Content/Box */

.modal-content {
  width            : 80%;
  margin           : 5% auto 15% auto;
  border           : 1px solid #888;
  background-color : #fefefe;
  /* 5% from the top, 15% from the bottom and centered */
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */

hr {
  margin-bottom : 25px;
  border        : 1px solid #f1f1f1;
}

/* The Close Button (x) */

.close {
  position    : absolute;
  top         : 15px;
  right       : 35px;
  color       : var(--button-red);
  filter      : brightness(130%);
  font-size   : 40px;
  font-weight : bold;
}

.close:focus,
.close:hover {
  cursor : pointer;
}

.errortext {
  margin-bottom    : 12px;
  padding          : 10px;
  color            : rgb(145, 57, 57);
  background-color : rgb(232, 131, 131);
}

/* Change styles for cancel button and signup button on extra small screens */

@media
  screen
  and (max-width : 300px) {
  .cancel,
  .signupbtn {
    width : 100%;
  }
}
