.tablewrapper {
  visibility : visible;
  overflow   : scroll;
  grid-area  : c;
}

thead {
  color       : var(--main-color);
  font-family : var(--main-font);
}

th {
  font-weight : bold;
}

.tablebutton {
  padding          : 0.4em;
  color            : var(--font-color);
  border           : none;
  border-radius    : 0.2em;
  background-color : var(--main-color);
}

.tablebutton:hover {
  filter : brightness(130%);
  cursor : pointer;
}
