.maincontainer {
  display          : flex;
  justify-content: center;
  border-radius    : 2px;
  background-color : white;
  flex-direction   : column;
  grid-area        : c;
}

.mainbox {
  display               : grid;
  text-align            : center;
  flex-basis            : 95%;
  grid-template-columns : 1fr 1fr 1fr;
  grid-template-rows    : 1fr 1fr 0.8fr;
  grid-template-areas   : "c c c"
                          "c c c"
                          "c c c";
}
